
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:rgb(17, 17, 116)">
    <a class="navbar-brand" [routerLink]="['/']">TroyBoy RPI Marketplace</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav" id="icon">
        <!-- <a class="nav-item nav-link active" href="#" [routerLink]="['/']">Home</a>
        <div id="icon"> -->
          <li class="nav-item">
            <button class="btn btn-lg" (click)="open(content)" > New Listing</button>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" [routerLink]="['/']"><i class="fa fa-envelope fa-lg"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link"  [routerLink]="['/profile']"><i class="fa fa-user fa-lg"></i></a>
          </li>   
            
        <!-- </div> -->
        
        </ul>
    </div>
  </nav>

<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create a new listing!</h4>
    <button type="button" class="fa fa-close fa-lg" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    
    <form id="newListing">
      <!-- Upload image -->
      <div id="uploadImg">
        <label for="itemImage"><img [src]="imgURL" height="210" *ngIf="imgURL"></label>
        <input (change)="fileChange($event)" #file type="file" id="itemImage" name="itemImage" accept="image/png, image/jpeg" (change)="preview(file.files)" required/>
      </div>
      <!-- Price -->
      <div id="priceDiv">
        <label for="price">Price:</label>
        <input type="text" id="price" name="price" placeholder="$0.00" required>
      </div>
      
      <!-- Title -->
      <label for="title">Title:</label>
      <textarea id="title" name="title" required></textarea>
      <!-- Description -->
      <label for="description">Description:</label>
      <textarea id="description" name="descriptoin" required></textarea>
      <!-- Condtion & Category selection -->
      <div id="selection">
        <label for="condition">Conditon:</label>
        <select id="condition" name="condition" (change)="conditionChange($event)" required>
          <option value="">None</option>
          <option value="used">Used</option>
          <option value="new">New</option>
        </select>
        <label for="category">Category:</label>
        <select id="category" name="category" (change)="categoryChange($event)" required>
          <option value="">None</option>
          <option value="furniture">Furniture</option>
          <option value="book">Book</option>
          <option value="electronic">Electronic</option>
        </select>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-dark" (click)="newListing()" (click)="d('Cross click')">Create</button>
      </div>
    </form>
  </div>
</ng-template>
  