<h3>Filter</h3>
<form id="filter">
    <div>
         <h5>Conditon</h5>
        <div class="sections" id="condition">
            <label for="used"><input type="checkbox" name="condition[]" value="used">Used</label>
            <label for="new"><input type="checkbox" name="condition[]" value="new">New</label>  
        </div> 
    </div>
    <div>
        <h5>Category</h5>
        <div class="sections" id="category">
            <label><input type="checkbox" name="category[]" value="furniture">Furniture</label>
            <label><input type="checkbox" name="category[]" value="book">Book</label>
            <label><input type="checkbox" name="category[]" value="electronic">Electronic</label>
        </div>  
    </div>
    
    <button type="submit" id="filterBtn">Submit</button>
</form> 

